<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="log_path" value="/hms/redis/logs" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %X{correlationId} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <appender name="DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_path}/redis-debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Daily rollover -->
            <fileNamePattern>${log_path}/redis-debug.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- Keep 2 days' worth of history -->
            <maxHistory>2</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %X{correlationId} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_path}/redis-info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Daily rollover -->
            <fileNamePattern>${log_path}/redis-info.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- Keep 10 days' worth of history -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %X{correlationId} [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_path}/redis-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- Daily rollover -->
            <fileNamePattern>${log_path}/redis-error.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- Keep 10 days' worth of history -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %X{correlationId} %-5level %logger{5} - %msg%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <appender name="ASYNC-CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <appender-ref ref="STDOUT" />
    </appender>

    <appender name="ASYNC-DEBUG" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <appender-ref ref="DEBUG" />
    </appender>

    <appender name="ASYNC-INFO" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <appender-ref ref="INFO" />
    </appender>

    <appender name="ASYNC-ERROR" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>500</queueSize>
        <appender-ref ref="ERROR" />
    </appender>

    <root level="debug">
        <appender-ref ref="test.redis" />
    </root>

    <logger name="hms.spm.messenger" level="DEBUG" additivity="false">
        <appender-ref ref="ASYNC-DEBUG" />
        <appender-ref ref="ASYNC-INFO" />
        <appender-ref ref="ASYNC-ERROR" />
        <appender-ref ref="ASYNC-CONSOLE" />
    </logger>

    <!--disable additional logs-->
    <logger name="org.springframework">
        <level value="DEBUG"/>
    </logger>
    <logger name="org.hibernate">
        <level value="TRACE"/>
    </logger>

</configuration>